*{
    font-family: Montserrat;
}
body{
    margin:0;
    color:white;
    background-color: chocolate;
    overflow: hidden;
}
.main{
    height: 100vh;
    display: flex;
}
/* sidebar begin */
.sidebar{
    width:350px;
    background-color: green;
    border-radius: 1rem;
    margin: 0.2rem;
}
.nav {
    height: 100px;
    background-color: #121212;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.7rem;
    margin: 0.2rem;
}
.nav-option {
    height: 40px;
    line-height: 2.5rem;
    padding: 0.5rem 0.7rem;
}
#search {
    opacity: 80%;
}
#search:hover{
    opacity: 100%;
}
.nav-option img, .lib-option img{
    height: 1rem;
    width: 1rem;
}
a{
    color: white;
    text-decoration: none;
}

/* labrary */
.lib-option{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    border-radius: 2rem;
}
.lib{
    opacity: 80%;
    margin: 0.8rem;
    padding: 0.5rem 0.7rem;
}
.lib:hover{
    opacity: 100%;
}
.icons {
    margin: 0.8rem;
    padding: 0.5rem 0.7rem;
}
.icons img{
    margin-left: 0.5rem;
}
/* lib boxx */
.lib-box{
    display: block;
}
.box{
    flex-direction: row;
    background-color: #222222;
    border-radius: 1rem;
    margin: 0.2rem;
    padding: 0.5rem 1.2rem;
}

.box button, #upgrade{
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
    height: 2.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
}
/* sidebar end */

/* content start */
.content{
    background-color: red;
    border-radius: 1rem;
    flex:1;
    overflow: auto;
}
.menu{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: wheat;
    display: flex;
}
.arrows{
    position: absolute;
    left: 0px;
}
.menu-btn{
    position: fixed;
    right: 0px;
}
.menu img{
    height: 2rem;
}
.arrows img{
    height: 2rem;
}
#install{
    background-color: black;
    color: white;
    font-weight: 500;
    border: none;
    height: 2.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
}
#install img{
    height: 1rem;
}

.temp{
    flex: 1;
    overflow: hidden;
}
.player{
    background-color: blue;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
}